.workout-list {
    .workout-item {
        padding: 0;
        background: rgba(0, 0, 0, 0.9);
        margin: 0 0 8px;

        .workout-inner {
            display: flex;
            position: relative;
            align-items: flex-start;
            justify-content: space-between;
            padding: 12px;

            .workout-no-cover {
                margin-right: 12px;
                overflow: hidden;
                width: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                aspect-ratio: 9 / 14;
                background: linear-gradient(to bottom, rgba(255,255,255,0.05), rgba(255,255,255,0.1));

                img {
                    opacity: .4;
                }
            }

            .workout-info {
                flex: 1;

                .workout-title {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    font-size: 18px;
                    color: #FFF;
                    text-transform: uppercase;
                    margin-bottom: 4px;
                }

                .workout-detail {
                    margin-top: 7px;

                    .label {
                        display: block;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 700;
                        font-size: 12px;
                        color: #B8B8B8;
                        text-transform: uppercase;
                    }

                    .value {
                        display: block;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 700;
                        font-size: 12px;
                        margin-top: 2px;
                        color: #FFF;
                    }
                }
            }

            .workout-action {
                position: absolute;
                display: flex;
                right: 0;
                bottom: 0;
                background-color: #535353;
                border-radius: 8px 0 0 0;

                .action{
                    display: flex;
                    width: 44px;
                    height: 35px;
                    align-items: center;
                    justify-content: center;
                    font-size: 32px;
                    color: #1b1b1b;
                }
            }
        
        }
    }

    .no-workouts {
        text-align: center;
        
        .icon {
            display: block;
            margin: 0 auto 16px;
            width: 100px;
            height: 100px;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 50%;
            padding: 24px;

            img {
                width: 100%;
            }
        }
        
        h3 {
            color: #FFF;
            margin-bottom: 8px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            font-style: italic;
            font-size: 20px;
            text-align: center;
        }
        
        p {
            color: #FFF;
            margin: 0;
        }
    }
}