.workouts-content {
    --background: transparent;

    .inner {
        padding: 20px 12px;

        .workout {
            .title {
                font-family: 'Montserrat', sans-serif;
                font-weight: 800;
                font-style: italic;
                font-size: 20px;
                text-align: center;
                margin-bottom: 16px;
            }
        }
    }
}