ion-header {
    ion-toolbar {
        --background: transparent;
        --border-width: 0;
        --color: #FFF;
        --min-height: 20px; // Aumentato da default 56px
        padding: 20px 12px;

        .title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            font-style: italic;
            font-size: 18px;
            text-align: center;
        }
    }
}

.container {
    .scrolling-content {
        .nutrition-list {
          .nutrition-item {
            padding: 0;
            margin: 0 0 8px;
            background-color: #BD1921;

            .nutrition-inner {
              padding: 12px;
              display: flex;
              align-items: center;

              .nutrition-content {
                flex: 1 1 auto;

                .nutrition-dates {
                  display: inline-block;
                  padding: 3px 8px;
                  background: #93171D;
                  border-radius: 4px;
                  color: #FFF;
                  font-family: 'Roboto', sans-serif;
                  font-weight: 600;
                  font-size: 15px;
                  margin-bottom: 10px;
                }
                .nutrition-title {
                  display: block;
                  color: #FFF;
                  font-family: 'Roboto', sans-serif;
                  font-weight: 700;
                  font-size: 18px;
                  text-transform: uppercase;
                }
              }
              .nutrition-pdf {
                margin-left: 10px;
                width: 45px;
              }
            }

            .view-button {
              margin-top: 8px;
              --color: var(--ion-color-primary);
              
              &:disabled {
                --color: var(--ion-color-medium);
              }
            }
          }
        }
    }
}