.splash-container {
  --background: #BD1921;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 40px;

    .logo-container {
      margin-bottom: 40px;
      
      .logo {
        width: 151px;
        height: 255px;
      }
    }
  }
}