.home-content {
    --background: transparent;

    .inner {
        padding: 20px 12px;

        .calendar-widget {
            display: flex;
            align-items: center;
            margin-bottom: 24px;

            .item {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                height: 95px;
                flex: 1;
                overflow: hidden;
                border-radius: 8px;
                padding: 5px;
                cursor: pointer;

                & + .item {
                    margin-left: 7px;
                }

                &.day {
                    border: 1px solid #ce5258;
                    font-family: Roboto;
                    text-align: center;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1;
                    text-transform: uppercase;

                    .day-name {
                        line-height: 17px;
                    }

                    .workout {
                        height: 20px;
                        margin: 10px 0;
                    }

                    .day-number {
                        line-height: 16px;
                    }
                }

                &.expand {
                    background-color: #97131a;

                    img {
                        opacity: .3;
                        width: 35px;
                        height: auto;
                        max-width: 100%;
                    }
                }
            }
        }

        .workout {
            .title {
                font-family: 'Montserrat', sans-serif;
                font-weight: 800;
                font-style: italic;
                font-size: 20px;
                text-align: center;
                margin-bottom: 16px;
            }
        }
    }
}