@use 'src/theme/details-block.scss';

ion-header {
  ion-toolbar {
        --background: var(--ion-color-primary);
        --border-width: 0;
        --color: #FFF;
        padding: 12px;
    
    ion-back-button {
      --color: white;
      --icon-color: white;
      font-weight: 500;
    }
    
    ion-title {
      color: white;
      font-weight: 600;
    }
  }
}

.container {
    .details-block {
        padding: 200px 12px 12px;
        background-image: url(../../../../assets/images/bg-workout-details.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .workout-day {
        margin: 20px 12px;

        .workout-day-head {
            text-align: center;
            color: #FFF;
            margin: 0 0 12px;

            .title {
                font-family: 'Montserrat', sans-serif;
                font-weight: 800;
                font-size: 20px;
                text-transform: uppercase;
            }
            .subtitle {
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                font-size: 12px;
                text-transform: uppercase;
                margin: 5px 0 0;
            }
        }
    }
}
