<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" defaultHref="/main"></ion-back-button>
    </ion-buttons>
    <ion-title>La tua scheda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container bg-gradient">
    <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
        <ion-refresher-content
          pullingIcon="chevron-down-outline"
          pullingText="Trascina per aggiornare"
          refreshingSpinner="crescent">
        </ion-refresher-content>
    </ion-refresher>
    
    <div *ngIf="initialLoad && isLoading" class="loading-container">
        <ion-spinner name="crescent"></ion-spinner>
        <p>{{ environment.ln.generalLoading }}</p>
    </div>

    <div *ngIf="!initialLoad && !workout" class="no-content">
        <div class="icon">
        <img src="assets/images/icon-workout.svg" alt="Allenamento">
        </div>
        <h3>Scheda non trovata</h3>
        <p>Non è stato possibile caricare i dettagli della scheda.</p>
        <ion-button expand="block" fill="clear" color="danger" (click)="goBack()">Torna indietro</ion-button>
    </div>

    <div *ngIf="!initialLoad && workout">
        <div class="workout-info">
            <div class="workout-title">{{ workout.descrizione }}</div>
            
            <div *ngIf="workout.note" class="workout-notes">
                {{ workout.note }}
            </div>
            
            <div class="workout-meta-double">
                <div class="detail">
                    <span class="label">Data inizio</span>
                    <span class="value">{{ workout.data_inizio }}</span>
                </div>
                <div class="detail">
                    <span class="label">Data fine</span>
                    <span class="value">{{ workout.data_scadenza }}</span>
                </div>
            </div>

            <div class="workout-meta-single">
                <span class="label">Durata</span>
                <span class="value">{{ workout.durata }} settimane</span>
            </div>

            <div class="workout-meta-single">
                <span class="label">Consegnata il</span>
                <span class="value">{{ workout.data_consegna }}</span>
            </div>
        </div>

        <div *ngFor="let day of workout.sedute || []" class="workout-day">
            <div class="workout-day-head">
                <div class="title">{{ day.descrizione }}</div>
                <div *ngIf="day.info" class="subtitle">{{ day.info }}</div>
            </div>
            <app-workout-exercise-list [workoutId]="workout.id" [groups]="day.gruppi || []"></app-workout-exercise-list>
        </div>
    </div>
</ion-content>