<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <div *ngIf="isLoading" class="loading-container">
      <ion-spinner name="crescent"></ion-spinner>
      <p>{{ environment.ln.generalLoading }}</p>
  </div>

  <div *ngIf="!isLoading && !exercise" class="no-content">
      <div class="icon">
      <img src="assets/images/icon-workout.svg" alt="Allenamento">
      </div>
      <h3>Contenuto non disponibile</h3>
      <p>Non è stato possibile caricare le informazioni dell'esercizio.</p>
      <ion-button expand="block" fill="clear" color="danger" (click)="goBack()">Torna indietro</ion-button>
  </div>

  <div *ngIf="!isLoading && exercise" class="exercise-content">
    <div *ngIf="exercise.video" class="exercise-media">
      <video 
        #videoElement
        class="exercise-video"
        [src]="exercise.video"
        playsinline
        loop
        preload="metadata"
        muted>
        Il tuo browser non supporta i video.
      </video>
    </div>

    <div *ngFor="let imageUrl of exercise.images" class="exercise-media">
      <img [src]="imageUrl" [alt]="exercise.descrizione" class="exercise-photo">
    </div>

    <div *ngIf="exercise.testo" class="exercise-info" #exerciseInfo>
      <div class="exercise-title">{{ exercise.descrizione }}</div>
      <div class="exercise-text" [innerHTML]="exercise.testo"></div>
    </div>

    <div class="exercise-overlay" [class.hidden]="!showOverlay">
      <div class="exercise-title">{{ exercise.descrizione }}</div>
      <div *ngIf="exercise.testo" class="exercise-text" >Scorri in fondo per la spiegazione</div>
    </div>
  </div>
</ion-content>