.back-button {
  position: fixed;
  top: 10px;
  left: 5px;
  z-index: 4000;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  backdrop-filter: blur(10px);
  --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  --padding-bottom: 0;
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 0;
  min-height: 40px !important;
  
  ion-icon {
    font-size: 26px;
    color: white;
  }
}

.container {
  --background: #000;

  .exercise-content {
    .exercise-media {
      width: 100%;
      display: block; // Semplifica il layout
      margin-bottom: 0px; // Nessun gap tra gli elementi
      z-index: 50;

      .exercise-video,
      .exercise-photo {
        width: 100%;
        height: 100vh;
        object-fit: contain;
        display: block;
      }
    }
    
    .exercise-info {
      padding: 50px 20px;
    }
    
    .exercise-title {
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 27px;
        color: #FFF;
        text-transform: uppercase;
    }

    .exercise-text {
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 15px;
        margin-top: 15px;
    }

    .exercise-overlay {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.95) 100%);
      color: #FFF;
      padding: 20px 20px;
      text-align: left;
      z-index: 100;
      backdrop-filter: blur(10px);
      opacity: 1;
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

      .exercise-text {
        font-size: 14px;
        margin-top: 5px;
      }

      &.hidden {
        opacity: 0;
        transform: translateY(30px);
      }
    }
  }
}