<ion-header>
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="previousMonth()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    
    <div class="title">{{ currentMonthYear }}</div>
    
    <ion-button slot="end" fill="clear" (click)="nextMonth()">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="container bg-transparent">
  <div class="calendar-widget">
    <div 
      class="item day" 
      *ngFor="let day of calendarDays"
      [class.today]="day.isToday"
      [class.has-workout]="day.hasWorkout"
      [class.other-month]="!day.isCurrentMonth"
      [class.weekend]="day.isWeekend"
      (click)="onDayClick(day)"
    >
      <div class="day-name">{{ day.dayName }}</div>
      <div class="workout">
        <img width="20" height="20" *ngIf="day.hasWorkout" src="assets/images/icon-checked.svg">
        <img width="20" height="20" *ngIf="!day.hasWorkout" src="assets/images/icon-unchecked.svg">
      </div>
      <div class="day-number">{{ day.dayNumber }}</div>
    </div>
  </div>
</ion-content>