// Importa stili del calendar-widget
@use '../../../../components/calendar-widget/calendar-widget.component.scss';

ion-header {
    ion-toolbar {
        --background: transparent;
        --border-width: 0;
        --color: #FFF;
        --min-height: 58px;
        height: 58px;
        padding: 0 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            font-style: italic;
            font-size: 20px;
            text-align: center;
            flex: 1;
        }

        ion-button {
            --color: #FFF;
            --background: transparent;
            --box-shadow: none;
        }
    }
}

.container {
  .calendar-widget {
    height: 100%;
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
    margin: 0;
    
    .item {
      margin-left: 0 !important;
      height: 100%;
      
      &.day {
        font-size: 14px;
        
        &.other-month {
            opacity: 0.3;
        }
        
        &.weekend {
            background-color: rgba(206, 82, 88, 0.1);
        }

        .workout {
            height: 18px;
            margin: 8px 0;
        }
      }
    }
  }
}