.main-container {
    background: linear-gradient(to bottom, var(--ion-color-primary), #000000);
    height: 100vh;
    min-width: 300px;
    overflow: hidden;

    .header {
        display: flex;
        align-items: center;
        padding: 10px;
        background: transparent;
        border-bottom: 1px solid #97131a;

        .header-logo {
            max-width: 61px;
            width: 100%;
            height: auto;
        }
        .header-content {
            flex: 1;
            padding: 0 15px;
            text-align: center;
            color: #FFF;

            font-family: Roboto;
            font-weight: 700;
            font-style: italic;
            font-size: 16px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            span {
                font-family: 'Montserrat', sans-serif;
                display: block;
                font-weight: 800;
                font-size: 18px;
                font-style: normal;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        .header-profile {
            cursor: pointer;
            position: relative;
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid #000;
            opacity: 0.4;

            img {
                width: 100%;
                max-width: 61px;
                height: auto;
            }
        }
    }

    .main-tabs {
        height: 100px;
        border: none;
        background: transparent;
        border-top: 1px solid #584344;

        ion-tab-button {
            background: transparent;
            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 33px;
                height: 33px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    opacity: .6;
                }
            }

            ion-label {
                margin-top: 10px;
            }

            &.tab-selected {
                .icon img {
                    opacity: 1;
                }
                ion-label {
                    color: #FFF;
                }
            }
        }
    }
}