<ion-tabs class="main-container" fullscreen>
  <ion-header class="header">
      <img src="assets/images/logo-icon.svg" alt="Mauro Pozzi" class="header-logo">

      <div class="header-content">
        <span>Ciao {{ currentUser?.firstName || '' }}!</span>
        {{ today | date:'EEEE d MMMM y':'':'it-IT' }}
      </div>
      
      <div class="header-profile ion-activatable ripple-parent" (click)="openProfile()">
        <ion-ripple-effect></ion-ripple-effect>
        <img src="assets/images/icon-account-black.svg" alt="Mauro Pozzi">
      </div>
  </ion-header> 

  <router-outlet></router-outlet>

  <ion-tab-bar slot="bottom" class="main-tabs">
    <ion-tab-button tab="home" href="/main/home">
      <div class="icon">
        <img src="assets/images/icon-home.svg" alt="Home">
      </div>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="workouts" href="/main/workouts">
      <div class="icon">
        <img src="assets/images/icon-workout.svg" alt="Allenamento">
      </div>
      <ion-label>Allenamento</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nutrition" href="/main/nutrition">
      <div class="icon">
        <img src="assets/images/icon-nutrition.svg" alt="Nutrizione">
      </div>
      <ion-label>Nutrizione</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>