.container {
    .content {
        justify-content: space-between;
        height: 100%;
        padding: 70px 12px;
        background-image: url(/assets/images/bg-login.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;

        .form {
            width: 100%;

            .logo-container {
                margin-bottom: 58px;

                .logo {
                    width: 110px;
                    height: 185px;
                }
            }
            .intro {
                font-family: 'Montserrat', sans-serif;
                font-weight: 800;
                font-style: italic;
                font-size: 20px;
                letter-spacing: 0%;
                text-align: center;
                color: white;
            }
            .input {
                margin: 14px 0 0;
                --background: #FFFDFD99;
                --color: #555555;
                --placeholder-color: #555555;
                --placeholder-opacity: 0.8;
                --border-radius: 8px;
                --padding-bottom: 15px;
                --padding-end: 15px;
                --padding-start: 15px;
                --padding-top: 15px;
                text-align: left;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                min-height: 50px;

                --highlight-color: transparent;
                --highlight-color-focused: transparent;
                --highlight-color-valid: transparent;
                --highlight-color-invalid: transparent;
            }
            .button {
                --background: var(--ion-color-primary);
                --background-hover: var(--ion-color-primary-shade);
                --background-activated: var(--ion-color-primary-shade);
                --background-focused: var(--ion-color-primary-shade);
                --border-radius: 8px;
                --color: #FFF;
                --padding-top: 15px;
                --padding-bottom: 14px;
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 21px;
                font-weight: 700;
                line-height: 1;
                margin: 14px 0 0;
                text-align: center;
                letter-spacing: 0;
                width: 100%;
                --box-shadow: none;
                text-transform: uppercase;
                min-height: 50px;
            }
        }

        .recovery {
            width: 100%;

            .title {
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 16px;
                text-align: center;
                color: #FFFFFF;
            }
            .link {
                color: var(--ion-color-primary);
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-style: Medium;
                font-size: 16px;
                text-align: center;
                text-decoration: underline;
                cursor: pointer; 

                &:hover {
                    opacity: 0.8;
                }
                &:active {
                    opacity: 0.6;
                }
                &:focus {
                    outline: none;
                    text-shadow: 0 0 3px var(--ion-color-primary);
                }
            }
        }
    }
}