<ion-content class="container bg-gradient" fullscreen>
  <div class="content flex-center">
    <ion-icon name="lock-closed" class="lock-icon"></ion-icon>
    <h1>Non hai un abbonamento attivo!</h1>
    <p class="subtitle">Per utilizzare l'app è necessario avere un abbonamento attivo, contattami per poter acquistare il tuo pacchetto personalizzato</p>
    
    <div class="logout-section">
      <ion-button expand="block" fill="clear" color="danger" (click)="logout()">Esci dall'app</ion-button>
    </div>
      
  </div>
</ion-content>