<ion-content class="container" fullscreen>
  <div class="content">
    <ion-icon name="lock-closed" class="lock-icon"></ion-icon>
    <h1>Non hai un abbonamento attivo!</h1>
    <p class="subtitle">Per utilizzare l'app è necessario avere un abbonamento attivo, contattami per poter acquistare il tuo pacchetto personalizzato</p>
    
    <!-- <div class="info-card">
      <h3>Cosa include l'abbonamento:</h3>
      <ul>
        <li>Accesso completo alle schede di allenamento</li>
        <li>Piani nutrizionali personalizzati</li>
        <li>Tracciamento progressi</li>
        <li>Supporto del trainer</li>
      </ul>
    </div> -->
    
    <div class="logout-section">
      <ion-button expand="block" fill="clear" color="danger" (click)="logout()">Esci dall'app</ion-button>
    </div>
      
  </div>
</ion-content>