/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

.container {
    position: relative;
    min-width: 300px;
    overflow: hidden;

    &.bg-transparent {
        --background: transparent;
    }
    &.bg-gradient {
        --background: linear-gradient(to bottom, var(--ion-color-primary), #000000);
        background: linear-gradient(to bottom, var(--ion-color-primary), #000000);
    }
    
    .loading-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 60px 20px;
        
        ion-spinner {
        margin-bottom: 16px;
        }
        
        p {
        color: #FFF;
        margin: 0;
        }
    }

    .no-content {
        padding: 20px 12px;
        text-align: center;
        
        .icon {
            display: block;
            margin: 0 auto 16px;
            width: 100px;
            height: 100px;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 50%;
            padding: 24px;

            img {
                width: 100%;
            }
        }
        
        h3 {
            color: #FFF;
            margin-bottom: 8px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 800;
            font-style: italic;
            font-size: 20px;
            text-align: center;
        }
        
        p {
            color: #FFF;
            margin: 0;
        }
    }
    
    .scrolling-content {
        padding: 20px 12px;
    }
}

html.plt-ios .scrolling-content {
    padding-top: 3px !important;
}