.container {
    .training-content {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex: 1;
        position: relative;
        background-image: url(../../../../assets/images/bg-workout-details.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .widget {
            padding: 50px 12px 12px;
            text-align: center;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0));
            z-index: 2;

            img {
                width: 61px;
                height: 61px;
            }
            .widget-title {
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                font-size: 36px;
                color: #FFF;
            }
            .widget-timer {
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                font-size: 68px;

            }
            .widget-controls {
                display: flex;
            }

            .button  {
                --background-activated: var(--ion-color-primary-shade);
                --background-focused: var(--ion-color-primary-shade);
                --background-hover: var(--ion-color-primary-shade);
                --background: var(--ion-color-primary);
                --box-shadow: none;
                --color: #FFF;
                --padding-bottom: 14px;
                --padding-top: 15px;
                border-radius: 8px;
                font-family: 'Roboto Condensed', sans-serif;
                font-weight: 700;
                letter-spacing: 0;
                line-height: 1;
                position: relative;
                text-align: center;
                text-transform: uppercase;
                width: 100%;

                &.widget-control {
                    --color: #FFF;
                    --background: transparent;
                    border: 1px solid #FFF;
                    font-size: 14px;
                    min-height: 35px;
                    height: 35px;
                    &.widget-control + .widget-control {
                        margin-left: 8px;
                    }
                }

                &.widget-next {
                    margin: 8px 0 0;
                    min-height: 50px;
                    height: 50px;
                    font-size: 21px;
                    --color: #000;
                    --background: #4CDB1D;
                    --background-hover: var(--ion-color-primary-shade);
                    --background-activated: var(--ion-color-primary-shade);
                    --background-focused: var(--ion-color-primary-shade);
                    
                }

                ion-icon {
                    margin-left: 8px;
                }
            }



            .widget-exercise {
                
            }

            .widget-timer {
                
            }

            .widget-rest-timer {
                .widget-title {
                    font-size: 14px;
                    color: #4CDB1D;
                    text-transform: uppercase;
                }
            }
        }

        .exercise {
            padding: 12px;
            z-index: 2;

            .exercise-title {
                position: relative;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                font-size: 27px;
                color: #FFF;
                text-transform: uppercase;
                margin-top: 36px;
            }

            .exercise-text {
                position: relative;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 15px;
                margin: 15px 0 0;
            }

            .exercise-meta-double {
                position: relative;
                margin: 15px 0 0;
                background-color: rgba(0, 0, 0, 0.8);
                border-radius: 8px;
                display: flex;
                align-items: center;
                padding: 8px;

                .detail {
                    .label {
                        display: block;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 700;
                        font-size: 12px;
                        color: #B8B8B8;
                    }

                    .value {
                        display: block;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 700;
                        font-size: 17px;
                        margin-top: 2px;
                        color: #FFF;
                    }

                    &:first-child {
                        flex: 1 1 auto;
                        .label {
                            text-transform: uppercase;
                        }
                    }
                    &:last-child {
                        min-width: 60px;
                        .value {
                            text-align: right;
                        }
                    }
                }
            }

            .exercise-meta-single {
                position: relative;
                margin: 4px 0 0;
                background-color: rgba(0, 0, 0, 0.8);
                border-radius: 8px;
                padding: 8px;

                .label {
                    display: inline-block;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    font-size: 12px;
                    color: #B8B8B8;
                    text-transform: uppercase;
                }

                .value {
                    display: inline-block;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    font-size: 17px;
                    margin-left: 5px;
                    color: #FFF;
                }
            }

            .button  {
                position: relative;
                --background: var(--ion-color-primary);
                --background-hover: var(--ion-color-primary-shade);
                --background-activated: var(--ion-color-primary-shade);
                --background-focused: var(--ion-color-primary-shade);
                --border-radius: 8px;
                --color: #FFF;
                --padding-top: 15px;
                --padding-bottom: 14px;
                font-family: 'Roboto Condensed', sans-serif;
                font-size: 21px;
                font-weight: 700;
                line-height: 1;
                margin: 8px 0 0;
                text-align: center;
                letter-spacing: 0;
                width: 100%;
                --box-shadow: none;
                text-transform: uppercase;
                min-height: 50px;

                &.workout-stop {
                    --color: #000;
                    --background: #F79E0F;
                    --background-hover: var(--ion-color-primary-shade);
                    --background-activated: var(--ion-color-primary-shade);
                    --background-focused: var(--ion-color-primary-shade);
                }

                ion-icon {
                    margin-left: 8px;
                }
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
            pointer-events: none;
            z-index: 1;
        }

        .background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0;
        }
    }

}
