<ion-content class="container bg-gradient" fullscreen>
    <div *ngIf="isLoading" class="loading-container">
        <ion-spinner name="crescent"></ion-spinner>
        <p>{{ environment.ln.generalLoading }}</p>
    </div>

    <div *ngIf="!isLoading && exercise" class="training-content">
        <div class="widget">
            <img *ngIf="!hasTimer" src="assets/images/logo-icon.svg" alt="Mauro Pozzi" />

            <div *ngIf="step == 'exercise'" class="widget-title">Esercizio in corso</div>
            <div *ngIf="!hasTimer && step == 'rest'" class="widget-title">Recupero in corso</div>
            <div *ngIf="hasTimer && step == 'rest'" class="widget-title-success">Tempo di recupero</div>
            
            <div class="widget-badges">
                <div class="badge series">Serie {{currentSeries}}</div>
                <div *ngIf="isSuperset" class="badge superset">
                    <span class="superset-label">SUPERSET</span>
                    <div class="superset-indicator">
                        <span class="current">{{ currentSupersetIndex + 1 }}</span>
                        <span class="separator">/</span>
                        <span class="total">{{ supersetExercises.length }}</span>
                    </div>
                </div>
            </div>

            <div *ngIf="hasTimer" class="widget-timer">{{ getFormattedTime() }}</div>
            <div *ngIf="hasTimer" class="widget-controls">
                <ion-button class="button widget-control" expand="block" (click)="startTimer()">Ricomincia <ion-icon name="refresh-outline"></ion-icon></ion-button>
                <ion-button *ngIf="isTimerRunning" class="button widget-control" expand="block" (click)="pauseTimer()">Pausa <ion-icon name="pause"></ion-icon></ion-button>
                <ion-button *ngIf="!isTimerRunning && isPaused" class="button widget-control" expand="block" (click)="resumeTimer()" [disabled]="!isPaused">Avvia <ion-icon name="play"></ion-icon></ion-button>
            </div>

            <ion-button *ngIf="hasNextSeries()" class="button widget-success" expand="block" (click)="workoutNextSeries()">Ancora una serie x{{ currentSeries + 1 }} <ion-icon name="reload-outline"></ion-icon></ion-button>
            <ion-button *ngIf="hasNextSupersetExercise()" class="button widget-success" expand="block" (click)="workoutNextStep()">Ho finito <ion-icon name="return-down-forward-outline"></ion-icon></ion-button>
            <ion-button *ngIf="hasNextExercise()" class="button widget-warning" expand="block" (click)="workoutNextStep()">Prossimo esercizio <ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
            <ion-button *ngIf="hasNextRest()" class="button widget-success" expand="block" (click)="workoutNextStep()">Ho finito, vai al recupero <ion-icon name="hourglass-outline"></ion-icon></ion-button>
            <ion-button *ngIf="hasEnding()" class="button widget-warning" expand="block" (click)="workoutNextStep()">Ho finito <ion-icon name="exit-outline"></ion-icon></ion-button>
        </div>

        <div class="exercise">
            <div class="exercise-title">{{ exercise.descrizione }}</div>
            
            <div class="exercise-meta-double">
                <div *ngIf="exercise.tipo == 'reps'" class="detail">
                    <span class="label">Serie e ripetizioni</span>
                    <span class="value">{{ exercise.serie }}</span>
                </div>
                <div *ngIf="exercise.tipo == 'time'" class="detail">
                    <span class="label">Serie a tempo</span>
                    <span class="value">{{ exercise.serie }} x {{ exercise.durata }}</span>
                </div>
                <div class="detail">
                    <span class="label">Kg</span>
                    <span class="value">{{ exercise.kg }}</span>
                </div>
            </div>

            <div class="exercise-meta-single">
                <span class="label">Recupero</span>
                <span class="value">{{ exercise.recupero }}</span>
            </div>

            <div *ngIf="exercise.note" class="exercise-meta-single">
                <span class="label">Note</span>
                <span class="value">{{ exercise.note }}</span>
            </div>

            <ion-button *ngIf="exercise.video || exercise.images?.length || exercise.testo" class="button exercise-explanation" expand="block" (click)="exerciseExplanation()" [disabled]="isLoading || isOpeningModal">Spiegazione esercizio <ion-icon name="caret-forward-circle-outline"></ion-icon></ion-button>
            <ion-button class="button workout-stop" expand="block" (click)="workoutStop()" [disabled]="isLoading">Esci dall'allenamento</ion-button>
        </div>
        
        <img *ngIf="exercise.thumb" class="background" [src]="exercise.thumb" [alt]="exercise.descrizione" />
    </div>

    <div *ngIf="!isLoading && step == 'end'" class="training-content">
        <div class="widget">
            <img src="assets/images/logo-icon.svg" alt="Mauro Pozzi" />
            <div class="widget-title">Ottimo!</div>
            <div class="widget-subtitle">Hai completato l'allenamento</div>
        </div>

        <div class="exercise">
            <ion-button class="button workout-stop" expand="block" (click)="goBack()" [disabled]="isLoading">Esci dall'allenamento</ion-button>
        </div>
    </div>
</ion-content>