@import 'src/theme/details-block.scss';

.container {
    .training-content {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex: 1;
        position: relative;
        background-image: url(../../../../assets/images/bg-workout-details.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .widget {
            padding: 50px 12px 12px;
            text-align: center;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0));
            z-index: 2;

            img {
                width: 61px;
                height: 61px;
            }
            .widget-title {
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                font-size: 36px;
                color: #FFF;
            }
            .widget-subtitle {
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 18px;
                color: #FFF;
                margin-top: 5px;
            }
            .widget-title-success {
                font-size: 14px;
                color: #4CDB1D;
                text-transform: uppercase;
            }
            
            .widget-badges {
                margin-top: 8px;

                .badge {
                    display: inline-block;
                    border-radius: 8px;
                    padding: 6px 12px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 700;
                    font-style: italic;
                    font-size: 14px;
                    text-transform: uppercase;

                    & + .badge {
                        margin-left: 8px;
                    }
                    
                    &.series {
                        color: #fff;
                        background-color: var(--ion-color-primary);
                    }

                    &.superset {
                        color: #1b1b1b;
                        background-color: #edba22;

                        .superset-indicator {
                            display: inline-block;
                            margin-left: 5px;
                            
                            .current {
                                font-weight: 900;
                            }
                            
                            .separator {
                                margin: 0 2px;
                            }
                            
                            .total {
                                font-weight: 400;
                            }
                        }
                    }

                }
            }

            .superset-badge {
                display: flex;
                align-items: center;
                gap: 8px;
                // background: rgba(237, 186, 34, 0.95);
                background-color: #edba22;
                border-radius: 8px;
                padding: 6px 12px;
                color: #1b1b1b;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                font-style: italic;
                font-size: 14px;
                text-transform: uppercase;
                
                .superset-indicator {
                    display: flex;
                    align-items: center;
                    
                    .current {
                        font-weight: 900;
                    }
                    
                    .separator {
                        margin: 0 2px;
                    }
                    
                    .total {
                        font-weight: 400;
                    }
                }
            }

            .widget-timer {
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                font-size: 68px;

            }
            .widget-controls {
                display: flex;

                &.button + .button {
                    margin-left: 8px;
                }
            }

            .button  {
                --background-activated: var(--ion-color-primary-shade);
                --background-focused: var(--ion-color-primary-shade);
                --background-hover: var(--ion-color-primary-shade);
                --background: var(--ion-color-primary);
                --box-shadow: none;
                --color: #FFF;
                --padding-bottom: 14px;
                --padding-top: 15px;
                --border-radius: 8px;
                border-radius: 8px;
                font-family: 'Roboto Condensed', sans-serif;
                font-weight: 700;
                letter-spacing: 0;
                line-height: 1;
                position: relative;
                text-align: center;
                text-transform: uppercase;
                width: 100%;

                &.widget-control {
                    --color: #FFF;
                    --background: transparent;
                    border: 1px solid #FFF;
                    font-size: 14px;
                    min-height: 35px;
                    height: 35px;
                }

                &.widget-success {
                    margin: 8px 0 0;
                    min-height: 50px;
                    height: 50px;
                    font-size: 21px;
                    --color: #000;
                    --background: #4CDB1D;
                    --background-hover: var(--ion-color-primary-shade);
                    --background-activated: var(--ion-color-primary-shade);
                    --background-focused: var(--ion-color-primary-shade);
                }

                &.widget-warning {
                    margin: 8px 0 0;
                    min-height: 50px;
                    height: 50px;
                    font-size: 21px;
                    --color: #000;
                    --background: #F79E0F;
                    --background-hover: var(--ion-color-primary-shade);
                    --background-activated: var(--ion-color-primary-shade);
                    --background-focused: var(--ion-color-primary-shade);
                }

                ion-icon {
                    margin-left: 8px;
                }
            }
        }

        .background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0;
        }
    }

}
